<h3>Buscar por región:  <small>{{regionActiva | titlecase}}</small></h3>

<hr>
<h5>Seleccione la región</h5>
<div class="row">
    <div class="col">
        <!-- <button class="btn btn-outline-primary m-1"
            *ngFor="let region of regiones"
            [class.active]="region === this.regionActiva"
            (click)="activarRegion(region)">
            {{region}}
        </button> -->

        <!--Mas potente-->
        <!-- <button class="btn m-1"
            *ngFor="let region of regiones"
            [ngClass]="{
                'btn-primary': this.regionActiva === region,
                'btn-outline-primary': this.regionActiva !== region
            }"
            (click)="activarRegion(region)">
            {{region}}
        </button> -->

        <!--Otra forma mas-->
        <button [class]="getBotonCSS(region)"
            *ngFor="let region of regiones"
            (click)="activarRegion(region)">
            {{region | titlecase}}
        </button>
    </div>
</div>

<div *ngIf="this.paises.length > 0" class="row">
    <div class="col">
        <app-pais-tabla [paises]="this.paises"></app-pais-tabla>
    </div>
</div>

